<% provide(:title, @user.name) %>
<div>
  <aside class="plofile">
    <section class="user_info">
      <h1>
        <%= render 'users/icon' %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="feed">
    <% if @user.microposts.any? %>
      <h3>行きたいところ (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts %>
    <% end %>
  </div>
</div>