<div class="user-name">
  <% if current_user.image? %>
    <%= image_tag  current_user.image.thumb50.url, class: "user-icon" %>
  <% else %>
    <%= image_tag "default.jpg", alt: "user-icon", size: "50", class: "user-icon" %>
  <% end %>
  <h1><%= current_user.name %></h1>
</div>
<span><%= link_to "マイページ", current_user %></span>
<span><%= current_user.microposts.count %>個の行きたい場所があります。</span>