<% if current_user.image? %>
  <%= image_tag  current_user.image.thumb50.url, class: "user-icon" %>
<% else %>
  <%= image_tag "default.jpg", alt: "user-icon", size: "50", class: "user-icon" %>
<% end %>
<h1><%= current_user.name %></h1>
<span><%= link_to "プロフィールページ", current_user %></span>
<span><%= current_user.microposts.count %>個の行きたい場所があります。</span>