<li id="micropost-<%= micropost.id %>">
  <div class="icon">
    <%= link_to micropost.user do %>
      <% if micropost.user.image? %>
        <%= image_tag  micropost.user.image.thumb50.url, class: "user-icon" %>
      <% else %>
        <%= image_tag "default.jpg", alt: "user-icon", size: "50", class: "user-icon" %>
      <% end %>
    <% end %>
  </div>
  <div class="body">
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content"><%= micropost.content %></span>
    <% if micropost.amount.present? %>
      <span class="content">募集人数：<%= micropost.amount %>人</span>
    <% end %>
    <% if micropost.departure.present? %>
      <span class="content">日程：<%= micropost.departure %>〜<%= micropost.back %></span>
    <% end %>
    <span class="timestamp">
      <%= time_ago_in_words(micropost.created_at) %>前
      <% if current_user?(micropost.user) %>
        <%= link_to "削除", micropost, method: :delete,
                                       data: { confirm: "本当に削除しますか?" } %>
      <% end %>
      <div id="favorites_buttons_<%= micropost.id %>">
        <%= render partial: 'favorites/favorite', locals: {micropost: micropost} %>
      </div>
    </span>
  </div>
</li>