<header>
  <h1>
      <a href="/">go with</a>
  </h1>
  <nav class="pc-nav">
    <ul>
      <li><%= link_to "利用規約", terms_path %></li>
      <li><%= link_to "プライバシーポリシー", privacy_path %></li>
      <li><%= link_to "ログイン", login_path %></li>
    </ul>
  </nav>
  <nav class="sp-nav">
    <ul>
      <li><%= link_to "利用規約", terms_path %></li>
      <li><%= link_to "プライバシーポリシー", privacy_path %></li>
      <li><%= link_to "ログイン", login_path %></li>
      <li class="close"><span>閉じる</span></li>
    </ul>
  </nav>
  <div id="hamburger">
      <span></span>
  </div>
</header>
