<header>
  <h1>
      <a href="/">go with</a>
  </h1>
  <nav class="pc-nav">
    <ul>
      <li><%= link_to "ホーム", root_path %></li>
      <% if logged_in? %>
        <li><%= link_to "ユーザー", users_path %></li>
        <li><%= link_to "みんなの投稿", microposts_path %></li>
        <li><%= link_to "マイページ", current_user %></li>
        <li><%= link_to "設定", edit_user_path(current_user) %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete, data: { confirm: "ログアウトしますか?" }%></li>
      <% else %>
        <li><%= link_to "ログイン", login_path %></li>
      <% end %>
    </ul>
  </nav>
  <nav class="sp-nav">
    <ul>
      <li><%= link_to "ホーム", root_path %></li>
      <% if logged_in? %>
        <li><%= link_to "ユーザー", users_path %></li>
        <li><%= link_to "みんなの投稿", microposts_path %></li>
        <li><%= link_to "マイページ", current_user %></li>
        <li><%= link_to "設定", edit_user_path(current_user) %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete, data: { confirm: "ログアウトしますか?"} %></li>
      <% else %>
        <li><%= link_to "ログイン", login_path %></li>
      <% end %>
      <li class="close"><span>閉じる</span></li>
    </ul>
  </nav>
  <div id="hamburger">
    <span></span>
  </div>
</header>
