<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script>
    document.addEventListener("turbolinks:load", function () {
      $(function() {
        const hum = $('#hamburger, .close')
        const nav = $('.sp-nav')
        hum.on('click', function(){
          nav.toggleClass('toggle');
        });
      });
    });
    </script>
  </head>

  <body>
    <header>
      <h1>
         <a href="/">go with</a>
      </h1>
      <nav class="pc-nav">
         <ul>
            <li><a href="#">利用規約</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
            <li><a href="#">ログイン</a></li>
         </ul>
      </nav>
      <nav class="sp-nav">
         <ul>
            <li><a href="#">利用規約</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
            <li><a href="#">ログイン</a></li>
            <li class="close"><span>閉じる</span></li>
         </ul>
      </nav>
      <div id="hamburger">
         <span></span>
      </div>
    </header>
    <div class="main-visual">
      <%= yield %>
      <div id="button"></div>
    </div>
    <%= debug(params) if Rails.env.development? %>
    <footer class="site-footer">
    </footer>
  </body>
</html>
